.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
   margin-top: 50px;
   border: 1px solid #000; /* Agrega un borde sólido (puedes ajustar el ancho y el color) */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra con desplazamiento cero, sin expansión y un desenfoque de 10px */
    padding: 20px;
}

.send{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items:end;
    justify-content: center;
    

}
.postulantes{
    margin-top: 30px;
    margin-bottom: 30px;
}
.iconoForm img{
    width: 20px;
}
.titleForm{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
@media(max-width:600px){
    .form{
        width: 100%;
    }
}